<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Vault of Ideas{% endblock %}</title>
    <!--    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <div class="container">
            <div class="header-content">
                <div class="logo">
                    <img src="{{ url_for('static', filename='vi_logo.gif') }}" alt="VI Logo">
                    <h1>Vault of Ideas</h1>
                </div>
                <nav>
                    {% if 'username' in session %}
                    <a href="{{ url_for('auth.logout') }}">Log Out</a>
                    <a href="{{url_for('main.dashboard')}}">Dashboard</a>
                    {% else %}
                    <a href="{{ url_for('auth.signup') }}">Sign Up</a>
                    <a href="{{ url_for('auth.login') }}">Log In</a>
                    {% endif %}
                    <a href="{{ url_for('portfolio.search_portfolios') }}">Search</a>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Vault of Ideas. All rights reserved.</p>
            <nav>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Service</a>
                <a href="#">Contact Us</a>
            </nav>
        </div>
    </footer>
</body>

</html>